body{
    margin:0 0; 
}

.left_menu{ 
    width:300px;
    height:100%;
    background-color:#ddd;
    float:left; 
    z-index:99; 
}
.bg_base{
    background-position:center center;
    background-size:contain;
    background-repeat:no-repeat;
}

.right_content{ 
    text-align:center; 
}

.menuitem{ width:100%; }


a {
    color: black;
}

header{
    padding:15px 0px;
    font-size:24px;
    font-family:cursive;
    text-align:center;
}

.frontcover{
    position:absolute;    
    top:0px;    
    left:0px;
    background-image:url('http://static.shuk.info/imgs/279353_185914798134225_7445783_o.jpg');
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
    width:100%;
    height:100%;
    z-index:10;
    min-height:600px;
}

.screen-cover{
    position:absolute;
    top:0px;
    left:0px;
    background-color:#000;
    width:100%;
    height:100%;
    opacity:0.6;
    z-index:15;
    min-height:600px;
}
.brief{
    position:absolute;
    top:30%;
    z-index:20;
    color:white;
    left:55%;
    width:400px;
    padding-right:20px;
    height:500px;
    line-height:30px;
}

@media screen and (max-height:600px){
    .brief{
        padding-right:auto;
        margin:0 auto;
        text-align:center;
    }   
}

@media screen and (max-width:950px){
    .brief{
        width:90%;
        left:0%;        /* if left:5% , it'll over width:100% with width:90% */
        margin:0 auto;
        text-align:center;
    }    
}

@media screen and (max-width:500px){
    .brief{
        top:20%;    
        max-height:600px;
        text-align:center;
        width:100%;
        padding-right:17px;
    }
    .outer_brief{
        width:90%;
        margin:0 auto;
        position:absolute;
        left:0px;
        right:0px;
        height:100%;
        overflow:hidden;
    }
}

@media screen and (max-width:400px){
    .brief{
        top:50px;
        overflow:auto;
        overflow-x:hidden;
        padding-right:17px;
        text-align:center;
    }
}

.outer-container{
    overflow:hidden;
    width:100%;
}

.horizontal-container{
    white-space:nowrap;
    width:100%;
    overflow-x:scroll;
    overflow-y:hidden;
     -webkit-overflow-scrolling: touch;  
    word-spacing:-5px;
}

.horizontal::-webkit-scrollbar { 
    display: none; 
}

.horizontal-photos{
    display:inline-block;
    height:250px;
}
.horizontal-photos img{
    height:100%;    
}


.banner_grid_1{
}

.banner_grid_1 ul{
    margin:0px 0px;
    padding:0px 0px;
}
.banner_grid_1 li{
    width:80%;
    min-width:600px;
    max-width:1000px;
    margin:0 auto;
    list-style-type: none;
    height:150px;
    padding-left:5px;
}



.banner_grid_1 li:hover{
    border-left:5px solid #000;    
}

.banner_grid_1 .img{
    width:200px;
    height:150px;;
    float:left;
    background-size:cover;
}

.banner_grid_1 .desc{
    margin-left:230px;
    padding:10px 0px;
}

.banner_grid_1 .right .img{
    float:right;    
}

.banner_grid_1 .right .desc{
    margin-left:30px;
    margin-right:200px;
    padding-left:20px;
    padding-right:20px;
}

.banner_grid_1 .desc header{
    font-weight:bold;
    font-size:18px;
    padding:0px 0px;
    margin-bottom:5px;
    text-align:none;
}

@media screen and (max-width:600px){
    .banner_grid_1 li{
        min-width:0px;     
        max-width:100%;
        padding:0px;
        height:auto;
        text-align:center;
        width:100%; !important;
    }
    .banner_grid_1 li:hover{
        border:0;
    }
    .banner_grid_1 .img{
        float:none;
        width:100%;
        height:150px;
    }
    .banner_grid_1 .desc{
        width:100%;
        margin:0px !important;  /* auto 會造成mobile 超過width 100%*/
        padding:0px !important; /* auto 會造成mobile 超過width 100%*/
    }
}
.sample_demo{
    width:900px;
    margin:0 auto;
}
.sample_demo section{
    width:250px;
    border:2px solid #888;
    vertical-align:top;
    display:inline-block;   
    margin:0 20px;
    margin-bottom:20px;
}

.sample_demo section div{
    text-align:center;
    background-color:#202020;
    padding-top:5px;
    color:#bbb;
}

.sample_demo .demo_photo{
    width:250px;
    height:200px;
    display:block;
    background-size:cover;
}

@media screen and (max-width:900px){
    .sample_demo{
        width:600px;    
    }
}

@media screen and (max-width:600px){
    .sample_demo{
        width:300px;
    }
}

@media screen and (max-width:450px){
    .sample_demo,.sample_demo section, .sample_demo .demo_photo, .sample section div{
        width:100%;
        margin:0px;
        border:0px;
    }

    .sample_demo section div{
        padding-bottom:15px;    
    }
}

.clear{
    clear:both;    
}

.tag{
    padding:2px 6px;
    cursor:pointer;
    font-weight:bold;
    line-height:30px;
    margin:0px 4px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 0px 1px rgba(176,157,72,1);
    -moz-box-shadow: 0px 0px 0px 1px rgba(176,157,72,1);
    box-shadow: 0px 0px 0px 1px rgba(176,157,72,1);
}

.tag:hover{
    background-image:linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));    
    background-image:-webkit-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));    
    background-image:-moz-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));    
    background-image:-o-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));    
}

.tag_1{
    background-color:rgba(255,255,0,1);    
}
.tag_1:active{
    background-color:rgba(255,255,,1);
}
.tag_2{
    background-color:rgba(255,255,0,0.7);    
}
.tag_3{
    background-color:rgba(255,255,0,0.4);    
}
.tag_4{
    background-color:rgba(255,255,0,0.1);    
}

ul{
    margin:0 0;    
}

.subject_list{
    
}

.subject_list ul li header{
    text-align:left;
}

.subject_list ul li div{
    padding-bottom:5px;
}

.subject_list .desc{
    line-height:25px;    
}

.subject_list .subtitle{
    font-weight:bold;
}


hr{
    border:1px solid #eee;  
}


.background_cover{
    -webkit-filter: opacity(0.4);
    -moz-filter:  opacity(0.4);
    -o-filter: opacity(0.4) ;
    -ms-filter: opacity(0.4);
    filter:  opacity(0.4);
    opacity:0.4;
    position:absolute !important;
     background-size:fixed;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
    background-size:cover;
}

